.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.col {
  width: 33.33333333%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.col-2 {
  width: 66.666666%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.col-6 {
  width: 50%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

@media (max-width: 375px) {
  .col-sm {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-8 {
    width: 66.666666%;
  }
  //   .col {
  //     display: none;
  //   }
  //   .col-2 {
  //     display: none;
  //   }
}
