*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

body {
  color: #fff;
}
